#tl_catalog_openimmo_sync th {
	border-bottom:1px solid #CCCCCC;
	vertical-align:top;
}
#tl_catalog_openimmo_sync td {
	padding:5px 10px;
}
#tl_catalog_openimmo_sync tr.odd td {
	background-color:#EFEFEF;
}
#tl_catalog_openimmo_sync .legend {
	border:1px solid #EEEEEE;
	padding:10px;
}
#tl_catalog_openimmo_sync .status-icon {
	width:15px;
	height:15px;
	display:inline-block;
	border:1px solid #666666;
	vertical-align:middle;
}
#tl_catalog_openimmo_sync .status-icon.status-0 {
	background-color:#DD6666;
}
#tl_catalog_openimmo_sync .status-icon.status-1 {
	background-color:#66DD66;
}
#tl_catalog_openimmo_sync .status-icon.status-2 {
	background-color:#FFDD66;
}